Source: rql
Section: python
Priority: optional
Maintainer: Sylvain Thenault <sylvain.thenault@logilab.fr> 
Build-Depends: debhelper (>= 4.0.0), python-dev
Standards-Version: 3.6.2

Package: python-rql
Architecture: all
Depends: python, python-logilab-common, python-constraint (>= 0.3.0-2)
Provides: python2.3-rql, python2.4-rql
Replaces: python2.3-rql, python2.4-rql
Conflicts: python2.3-rql, python2.4-rql
Description: relationship query language (RQL) utilities [dummy package]
 A library providing the base utilities to handle RQL queries,
 such as a parser, a type inferencer.
 .
 This package is an empty dummy package that always depends on a package built
 for Debian's default Python version.

Package: python-rql-test
Architecture: all
Depends: python-rql (>= ${Source-Version}), python-logilab-common
Description: python-rql's test files
 This package contains test files shared by the python-rql package. It
 isn't necessary to install this package unless you want to execute or
 look at the tests.

