Source: rql
Section: python
Priority: optional
Maintainer: Logilab Packaging Team <contact@logilab.fr>
Uploaders: Sylvain Thenault <sylvain.thenault@logilab.fr>, Nicolas Chauvat <nicolas.chauvat@logilab.fr>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python-all-dev,
 python3-all-dev,
 python-pytest,
 python3-pytest,
 python-unittest2,
 python-logilab-common,
 python3-logilab-common,
 python-logilab-database,
 python3-logilab-database,
 libgecode-dev,
 python3-sphinx,
 python-setuptools,
 python3-setuptools,
 python-six,
 python3-six
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Standards-Version: 4.3.0
Testsuite: autopkgtest-pkg-python
Vcs-Hg: https://hg.logilab.org/master/rql
Vcs-Browser: https://hg.logilab.org/master/rql
Homepage: http://www.logilab.org/project/rql

Package: python-rql
Architecture: any
Depends:
 ${python:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 python-logilab-common (>= 0.35.3-1),
 python-yapps,
 python-logilab-database (>= 1.6.0),
 python-logilab-constraint,
 python-six (>= 1.4.0),
Breaks:
 cubicweb-common (<< 3.21.99),
Suggests: python-pygments
Description: relationship query language (RQL) utilities - Python 2
 A library providing the base utilities to handle RQL queries,
 such as a parser, a type inferencer.
 .
 This package contains the Python 2 version of the RQL library.

Package: python3-rql
Architecture: any
Depends:
 ${python3:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
 python3-logilab-common,
 python3-yapps,
 python3-logilab-database (>= 1.6.0),
 python3-logilab-constraint,
 python3-six (>= 1.4.0),
Suggests: python3-pygments
Description: relationship query language (RQL) utilities - Python 3
 A library providing the base utilities to handle RQL queries,
 such as a parser, a type inferencer.
 .
 This package contains the Python 3 version of the RQL library.
