#!/usr/bin/make -f

export RQL_FORCE_GECODE=1

%:
	dh $@ --with python2 --buildsystem python_distutils

override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C doc html

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C doc clean

# prevent dh_python2 from generating bogus deps on python-yapps (nonexistent)
# or python-logilab-constraint (unnecessary with gecode)
override_dh_python2:
	dh_python2 --no-guessing-deps
