#!/usr/bin/make -f

export PYBUILD_NAME = rql
export PYBUILD_OPTION = --test-pytest

# Always build C extension
export RQL_FORCE_GECODE = 1

%:
	dh $@ --with python2,python3 --buildsystem pybuild

override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C doc html

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C doc clean
